/* CSS Document */
@media only screen and (min-width: 220px) and (max-width: 470px){
	#header {
		padding-bottom: 5px;
	}
	.herotext {
		margin-bottom: 11px;
	}
	h2.preimt {
		font-size: 1.4rem;
	}
	.tlinf {
		margin-top: 4%;
    	margin-bottom: 14%
	}
}
@media only screen and (min-width: 471px) and (max-width: 758px) {
	#header {
		padding-bottom: 32px;
	}
	.herotext {
		margin-bottom: 7%;
	}
	.telinf {
	    margin-top: 10%;
    	margin-bottom: 12%;
	}
}