/* CSS Document */
@import "compass";
@import url('https://fonts.googleapis.com/css?family=Ultra|Merriweather|Yeseva+One&subset=cyrillic');
@import "adaptiv";
h1, h2, h3, h4, h5, h6 {
	color: brown;
	font-family: 'Yeseva One';
}
p {
	font-family: 'Merriweather', serif;
}
@mixin display-flex($display: flex) {
  		display: flex;
}
@mixin flex-direction($direction: column) {
  		flex-direction: column;
}
@mixin justify-content($justify-content: space-between){
	justify-content: space-between;
}
@mixin align-items($align-items)
#header {
	background-image: url(../images/bgmain.jpg);
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
	background-position: top center;
	background-size: 100%;
	@include flexbox((display: flex, flex-direction: column, justify-content:space-between))
}

  
.herotext {
	background-color: #11631c80;
    border-radius: 15px;
	line-height: 1rem;
	margin-left: 10px;
    	    right: 10px;
			top: 15%;
    		bottom: 15%;
		h2, h3 {
		color: #FFEB3B;
		font-size: 4vw;
    	@include text-shadow(rgba(255,87,34,1)1px 1px 0,rgba(255,87,34,1)2px 2px 2px,rgba(154,45,11,1)3px 3px 3px,rgba(154,45,11,1)4px 4px 4px);
}
}
.tlinf {
	margin-top: 8%;
	margin-bottom: 10%;
}
.tlinf p {
	font-size: 2rem;
	font-family: 'Ultra', serif;
}

