/* CSS Document */
@import "compass";
@import url('https://fonts.googleapis.com/css?family=Merriweather|Yeseva+One&subset=cyrillic');
h1, h2, h3, h4, h5, h6 {
	color: aqua;
	font-family: 'Yeseva One';
}
@mixin display-flex($display: flex) {
  		display: flex;
}
@mixin flex-direction($direction: column) {
  		flex-direction: column;
}
#header {
	background-image: url(../images/bgmain.jpg);
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
	background-position: top center;
	background-size: cover;
	padding-bottom: 42rem;
	@include flexbox((display: flex, flex-direction: column))
	
}

  
.herotext {
	display: block;
}
	h2, h3 {
	color: #FFEB3B;
}