# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example.gitignore files : https://github.com/github/gitignore
_notes/
/bower_components/
/node_modules/
/js/popper.min.js
/js/bootstrap-4.0.0.js
/js/jquery-3.2.1.min.js
/.sass-cach/
/css/print.scss
/css/ie.scss
/dist/images/
/images/
/.sass-cache/
/webfonts/